@model IEnumerable<ServiceOrderManager.Models.Client>

@{
    ViewData["Title"] = "Client";
}

<h2>Clients</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*Estrutura de cabeçalho*@
<table class="table">
    <thead>
        <tr>
            @*Usa o model recebido no cabecalho*@
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientCNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*Mostra linhas da tabela*@
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enderecoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
